$headerH: 140px;
header {
	width: 100%;
	height: $headerH;
	position: -webkit-sticky;
	position: sticky;
	top: -$headerH / 2;
	z-index: $header-z;
	.main-header {
		height: $headerH / 2;
		background-color: $main-grey-color;
		.container {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
		}
		.burger {
			@include hidden;
			width: 20px;
			height: 20px;
			transition: $time;
			@include midflex;
			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: $main-yellow-color;
				position: relative;
				transition: $time;
				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $main-yellow-color;
					transition: $time;
				}
				&::before {
					top: -300%;
				}
				&::after {
					bottom: -300%;
				}
			}
			&.--active {
				span {
					background-color: transparent;
					transform: rotate(45deg);
					&::before {
						top: 0;
					}
					&::after {
						bottom: 0;
						transform: rotate(90deg);
					}
				}
			}
		}
		.logo-link {
			@include mid;
			.logo {
				width: 42px;
			}
		}
		.fb-link {
			padding-right: 10px;
			.fb-icon {
				width: 10px;
				fill: $main-yellow-color;
			}
		}
	}
	.navigation {
		height: $headerH / 2;
		background-color: $white;
		.container {
			height: 100%;
		}
		&__wrapper {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $black;
			}
		}
		&__item {
			height: 100%;
			padding-top: 35px;
			a {
				span {
					display: block;
					width: 50px;
					transition: color $time;
					@include fontFormat(
						$fz-text,
						$semib-font,
						30.48px,
						$text-color,
						$upper-c,
						normal
					);
				}
				&:hover {
					span {
						color: $main-yellow-color;
					}
				}
			}
			&:first-child,
			&:last-child {
				a span {
					width: auto;
				}
			}
			&.--center {
				a {
					padding: 0 30px;
				}
				@include mid;
				display: flex;
				justify-content: space-between;
			}
		}
	}
	@include tablet {
		height: $headerH / 2;
		top: 0;
		.main-header {
			.burger {
				@include visible;
			}
			.logo-link {
				.logo {
					width: 30px;
				}
			}
		}
		.navigation {
			display: none;
		}
	}
	@include mobile {
		.main-header {
			.container {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
