nav {
	--nav-width: 500px;
	position: fixed;
	top: 0;
	left: calc(var(--nav-width) * -1);
	width: var(--nav-width);
	height: 100vh;
	opacity: 0;
	background-color: $main-yellow-color;
	transition: $time;
	z-index: $header-z - 1;
	.container {
		padding-left: 45px;
		padding-right: 45px;
	}
	.navigation__wrapper {
		width: 100%;
		height: 100%;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		.navigation__item {
			padding-top: 20px;
			padding-bottom: 20px;
			span {
				@include fontFormat(
					30px,
					$thin-font,
					30.48px,
					$text-color,
					$upper-c,
					0.05em
				);
			}
		}
	}
	&.--active {
		opacity: 1;
		left: 0;
	}
	@include mobile {
		--nav-width: 100vw;
	}
}
