.about {
	main {
		.article {
			position: relative;
			background: #282828;
			.x-bg {
				position: absolute;
				top: 0;
				right: 5%;
				height: 100%;
				z-index: 0;
				* {
					fill: #242424;
				}
			}
			.article__wrapper {
				padding-left: 20px;
				padding-right: 20px;
				padding-top: calc(var(--local-pd) / 2);
				padding-bottom: calc(var(--local-pd) / 2);
				position: relative;
				z-index: 1;
			}
			.article__title {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				span {
					@include fontFormat(
						36px,
						$bold-font,
						58px,
						$main-yellow-color,
						$upper-c,
						0.6em
					);
				}
			}
			.article__content {
				margin-bottom: 50px;
				* {
					@include fontFormat(
						18px,
						$light-font,
						40px,
						#e4e4e4,
						initial,
						-0.025em
					);
				}
			}
			.bottom-bar {
				.booking {
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
					&__message {
						@include fontFormat(14px, $main-font, 20px, #e9e9ea, initial, 0);
						text-align: left;
						margin-left: 20px;
						max-width: 100px;
						&:first-letter {
							text-transform: $upper-c;
						}
					}
				}
			}
		}

		@include tablet {
			.article {
				background: #171819;
				.x-bg {
					right: 0;
					* {
						fill: #242424;
					}
				}
			}
		}

		@include mobile {
			.article {
				overflow: hidden;
				.container {
					padding-left: 10px;
					padding-right: 10px;
				}
				.article__title {
					margin-left: -20px;
					span {
						font-size: 28px;
					}
				}
				.article__content {
					margin-bottom: 40px;
					* {
						font-size: 16px;
						line-height: 34px;
					}
				}
				.x-bg {
					height: auto;
					width: 170vw;
					top: auto;
					bottom: 0;
					right: -35vw;
				}
			}
		}
	}
	footer {
		.info {
			.container {
				&::after {
					display: none;
				}
			}
		}
	}
}
