.allworks {
	main {
		.projects {
			.container {
				position: relative;
			}
			.bottom-bar {
				.load-more {
					top: 0;
					transform: translate(-50%, 0);
				}
				.booking {
					display: flex;
					&__message {
						@include fontFormat(
							14px,
							$main-font,
							20px,
							$text-color,
							initial,
							0
						);
						text-align: right;
						margin-right: 20px;
						max-width: 100px;
						&:first-letter {
							text-transform: $upper-c;
						}
					}
				}
			}
		}

		@include mobile {
			.projects {
				.bottom-bar {
					justify-content: center;
					.load-more {
						top: auto;
						bottom: 0;
					}
					.booking {
						flex-direction: column;
						margin-bottom: 70px;
						&__message {
							text-align: center;
							margin-right: 0;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}
