.category {
	// FLICKTY
	.custom-row {
		.flickity-viewport {
			//margin: 0 -15px;
		}
	}
	.category__banner {
		.container {
			.banner__content {
				justify-content: flex-end;
				&::after {
					display: none;
				}
				.banner__title {
					z-index: $default-z + 1;
					width: 55%;
					text-align: right;
					br.--tablet {
						display: none;
					}
					@include fontFormat(
						24px,
						$custom-font,
						50.45px,
						$white,
						$upper-c,
						0.1em,
						normal
					);
				}
			}
		}
		img {
			@include mid;
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
	.category__list {
		//width: 100%;
		.container {
			padding: 0 30px;
			position: relative;
		}
		.category__detail {
			width: 100%;
			position: relative;
			padding: 40px 0;
			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 2px;
				background-color: rgba($color: $main-grey-color, $alpha: 0.5);
				left: 0;
				bottom: 0;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
			.category__info {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				.category__content {
					display: flex;
					justify-content: flex-start;
					flex-grow: 1;
					.category__number {
						padding-right: 25px;
						@include fontFormat(
							90px,
							$custom-font,
							135.27px,
							$main-yellow-color,
							$upper-c,
							-0.025em,
							normal
						);
					}
					.category__text {
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex-grow: 1;
						.category__name {
							@include fontFormat(
								18px,
								$custom-font,
								40px,
								$text-color,
								$upper-c,
								0,
								normal
							);
						}
						.category__des {
							width: 50%;
							@include fontFormat(
								$fz-text,
								$main-font,
								20px,
								$text-color,
								initial,
								0,
								normal
							);
						}
					}
				}
				.category__btn {
					&:hover {
						span {
							color: $main-grey-color;
						}
					}
				}
			}
			.category__products {
				height: 550px;
				.cell {
					width: calc((100% - 60px) / 3);
					margin-right: 30px;
					.image-container {
						> img {
							filter: grayscale(1);
						}
					}
					.cell__content {
						flex-grow: 1;
						justify-content: space-evenly;
						padding: 0 10px;
						.cell__title {
						}
						.cell__description {
							display: flex;
							> * {
								padding-left: 5px;
								@include fontFormat(
									$fz-text,
									$main-font,
									40px,
									$text-color,
									$upper-c,
									0.1em,
									normal
								);
							}
							.price__lable {
								padding-left: 0;
							}
						}
						.cell__btn {
							&:hover {
								span {
									color: $white;
									font-weight: bolder;
								}
							}
						}
					}
					&::after {
						position: absolute;
						content: "";
						width: 1px;
						height: 85%;
						background-color: $main-grey-color;
						top: 0;
						right: -15px;
						opacity: 0.5;
					}
					&:hover {
						//box-shadow: 10px 15px 33px 9px #555;
						transition: background-color $time;
						background-color: #6d5019;
						.image-container {
							> img {
								transition: filter $time;
								filter: grayscale(0);
							}
						}
						.cell__title,
						.cell__description > *,
						.cell__btn > span {
							transition: color $time;
							color: $white;
						}
						.cell__btn .arrow-icon > * {
							fill: $white;
						}
					}
				}
				&:hover {
					.control {
						.btn__control {
							opacity: 1;
							transform: scale(1);
							border: 1px solid $main-grey-color;
							&.--prev {
								transform: rotate(180deg) scale(1);
							}
						}
					}
				}
			}
			.control {
				display: flex;
				justify-content: space-between;
				width: calc(100% + 60px);
				position: absolute;
				left: -30px;
				top: 50%;
				.btn__control {
					z-index: $default-z;
					opacity: 0.6;
					transform: scale(0.5);
					&.--prev {
						transform: rotate(180deg) scale(0.5);
					}
				}
			}
		}
	}
	@include desktop {
	}
	@include tablet {
		.category__banner {
			height: 400px;
			.container {
				.banner__content {
					.banner__title {
						br.--tablet {
							display: block;
						}
						font-size: 20px;
						width: 100%;
					}
				}
			}
		}
		.category__list {
			.container {
				padding: 0 15px;
			}
			.category__detail {
				.category__info {
					align-items: center;
					margin-bottom: 20px;
					.category__content {
						align-items: center;
						.category__number {
							font-size: 50px;
							line-height: 50px;
						}
						.category__text {
							.category__name {
								line-height: 20px;
							}
							.category__des {
								width: 100%;
							}
						}
					}
					.category__btn {
						margin-left: 30px;
						width: 120px;
						line-height: 0;
					}
				}
				.category__products {
					height: 410px;
					.cell {
						width: calc((100% - 30px) / 2);
						margin-right: 30px;
					}
				}
			}
		}
	}
	@include mobile {
		.category__banner {
			height: 300px;
			.container {
				.banner__content {
					margin-bottom: 70px;
					.banner__title {
						font-size: 12px;
						line-height: 30px;
					}
				}
			}
		}
		.category__list {
			.category__detail {
				&:last-child {
					margin-bottom: 50px;
					&::after {
						display: none;
					}
				}
				.category__info {
					flex-direction: column;
					.category__content {
						flex-direction: column;
						.category__number {
							font-size: 90px;
							line-height: 90px;
							margin-bottom: 50px;
						}
						.category__text {
							align-items: center;
							.category__name {
								font-size: 35px;
								line-height: 40px;
							}
							.category__des {
								text-align: center;
								font-size: 20px;
								line-height: 40px;
							}
						}
					}
					.category__btn {
						align-self: flex-end;
						width: auto;
						span {
							font-size: 30px;
						}
						i {
							> .arrow-icon {
								top: 0;
								left: -100%;
								width: 50px;
							}
						}
						&:hover {
							span {
								font-size: 30px;
								color: $main-grey-color;
							}
							i > .arrow-icon {
								left: 0;
							}
						}
					}
				}
				.category__products {
					height: 550px;
					.cell {
						width: 100%;
					}
				}
				.control {
					width: calc(100% + 30px);
					left: -15px;
					.btn__control {
						width: 60px;
						height: 60px;
					}
				}
			}
		}
	}
	@include mobile-xxs {
	}
}

.ctgr {
	> header.static-header {
		.social {
			.social__list {
				.social__item {
					a {
						span {
							color: $white;
						}
						.arrow-icon {
							> * {
								fill: $white;
							}
						}
						&:hover {
							span {
								color: $main-grey-color;
							}
							.arrow-icon {
								> * {
									fill: $main-grey-color;
								}
							}
						}
					}
				}
			}
		}
	}
}
