body.contact {
	//font-family: Arial, Helvetica, sans-serif;
	header.static-header {
		.social {
			.social__list {
				.social__item {
					a {
						span {
							color: $white;
						}
						.arrow-icon {
							> * {
								fill: $white;
							}
						}
						&:hover {
							span {
								color: $main-grey-color;
							}
							.arrow-icon {
								> * {
									fill: $main-grey-color;
								}
							}
						}
					}
				}
			}
		}
	}
	main.contact__wrapper {
		.contact__banner {
			height: 800px;
			padding: 0 130px;
			.container {
				display: block;
				padding-top: 160px;
			}
			> img {
				@include mid;
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
			.contact__info {
				position: relative;
				z-index: $default-z + 1;
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 30px;
				margin-bottom: 50px;
				.contact__detaills {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
					row-gap: 15px;
					.contact__detail {
						&.--span {
							grid-column: span 2;
						}
					}
				}
			}
			.contact__form {
				position: relative;
				z-index: $default-z + 1;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				column-gap: 30px;
				row-gap: 20px;
				grid-auto-flow: column;
				.form-group {
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 80px;
					&.--span {
						justify-content: space-between;
						height: auto;
						grid-row: 2 / span 2;
					}
				}
				.submit-btn {
					position: absolute;
					right: 0;
					bottom: -100px;
					z-index: $default-z + 1;
					width: 84px;
					height: 34px;
					border: 1px solid #7c6e4f;
					background-color: $text-color;
					transition: $time;
					@include midflex;
					span {
						transition: $time;
						@include fontFormat(
							10px,
							$main-font,
							7.05px,
							$white,
							$upper-c,
							0,
							bold
						);
					}
					&:hover {
						border-color: $main-yellow-color;
						background-color: $white;
						span {
							color: $text-color;
						}
					}
				}
			}
			.label {
				@include fontFormat(
					$fz-text,
					$main-font,
					7.63px,
					#ab9051,
					$upper-c,
					0,
					bold
				);
				margin-bottom: 20px;
			}
			.text {
				@include fontFormat($fz-text, $main-font, 22px, $white, none, 0.1em);
				&.form-message {
					position: relative;
					z-index: $default-z + 1;
					margin-bottom: 50px;
				}
			}
			label {
				margin: 10px 0;
			}
			input,
			textarea {
				margin: 10px 0;
				background: none;
				border: none;
				border-bottom: 1px solid #7c6e4f;
				line-height: 20px;
				outline: none;
				color: $white;
				font-size: 40px;
			}
			textarea {
				margin-bottom: 0;
			}
		}
		@include tablet {
			.contact__banner {
				padding: 0;
				height: auto;
				.contact__info {
					grid-template-columns: 1fr;
					column-gap: 0;
					row-gap: 30px;
					.contact__detaills {
						row-gap: 30px;
					}
				}
				.contact__form {
					height: auto;
					display: flex;
					flex-direction: column;
					margin-bottom: 200px;
				}
			}
		}
	}
}
