.news {
	.news__banner {
		.container {
			padding: 0 30px;
			.banner__content {
				&::after {
					background-color: $white;
				}
			}
			.banner__title {
				position: absolute;
				z-index: $default-z + 1;
				bottom: 30%;
				left: 0;
				text-align: left;
				@include fontFormat(
					24px,
					$custom-font,
					50.45px,
					$white,
					$upper-c,
					0.1em,
					normal
				);
			}
		}
		img {
			@include mid;
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
	.post {
		.container {
			padding: 0 30px;
			.post__list {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: 410px;
				column-gap: 30px;
				row-gap: 40px;
				margin-top: -35px;
				.cell {
					.image-container {
						height: 205px;
						z-index: $default-z + 2;
					}
					.cell__content {
						flex-grow: 1;
						padding-top: 10px;
						padding-bottom: 20px;
						justify-content: space-evenly;
						.cell__title {
							@include fontFormat(
								$fz-text,
								$main-font,
								20px,
								$text-color,
								$upper-c,
								-0.025em,
								bold
							);
						}
						.cell__description {
							width: 295px;
							@include fontFormat(
								$fz-text,
								$main-font,
								20px,
								$text-color,
								initial,
								-0.025em,
								normal
							);
						}
						.cell__btn {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}
