body.post {
	main.post__main {
		.post__article {
			margin-bottom: 125px;
			.container {
				padding-left: 45px;
				padding-right: 45px;
				padding-top: 180px;
			}
			.image-container {
				position: relative;
				height: 470px;
				overflow: hidden;
				img {
					@include mid;
					min-width: 100%;
					min-height: 100%;
				}
			}
			.post__title {
				margin-top: 70px;
				padding: 0;
				@include fontFormat(
					20px,
					$custom-font,
					32px,
					$text-color,
					$upper-c,
					0.1em,
					500
				);
			}
			.post__snippet {
				margin-top: 30px;
				padding: 0;
				@include fontFormat(
					12px,
					$main-font,
					32px,
					$text-color,
					$upper-c,
					0.1em,
					bold
				);
			}
			.post__createtime {
				margin-top: 25px;
				@include fontFormat(12px, $main-font, 32px, #212121, none, 0.1em);
				font-style: italic;
			}
			.post__text {
				margin-top: 30px;
				padding: 0;
				@include fontFormat(12px, $main-font, 22px, $text-color, none, 0.1em);
			}
		}
		.post__suggestion {
			.container {
				padding: 0 30px;
			}
			.section__title {
				margin-bottom: 40px;
				width: 100%;
				text-align: center;
				position: relative;
				overflow: hidden;
				@include fontFormat(
					11px,
					$main-font,
					32px,
					#212121,
					$upper-c,
					0.1em,
					bold
				);
				&::before,
				&::after {
					position: absolute;
					height: 1px;
					width: 40%;
					content: "";
					background-color: $text-color;
				}
				&::before {
					left: 0;
					top: 50%;
				}
				&::after {
					right: 0;
					top: 50%;
				}
				@include tablet {
					&::before,
					&::after {
						width: 30%;
					}
				}
				@include mobile {
					&::before,
					&::after {
						width: 20%;
					}
				}
			}
			.suggestion__wrapper {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: 410px;
				column-gap: 30px;
				row-gap: 40px;
				margin-bottom: 20px;
				.cell {
					.image-container {
						height: 205px;
						z-index: $default-z + 2;
					}
					.cell__content {
						flex-grow: 1;
						width: 100%;
						padding: 10px 20px 20px;
						justify-content: space-evenly;
						.cell__title {
							@include fontFormat(
								$fz-text,
								$main-font,
								20px,
								$text-color,
								$upper-c,
								-0.025em,
								bold
							);
						}
						.cell__description {
							@include fontFormat(
								$fz-text,
								$main-font,
								20px,
								$text-color,
								initial,
								-0.025em,
								normal
							);
						}
						.cell__btn {
							span {
								font-size: 11px;
							}
						}
					}
					&:hover {
						background-color: $overlay-brown-color;
						.cell__content {
							.cell__title,
							.cell__description,
							.cell__btn > span {
								color: $white;
								transition: color $time;
							}
							.cell__btn {
								i > .arrow-icon {
									> * {
										fill: $white;
									}
								}
							}
						}
					}
				}
			}
		}
		@include tablet {
			.post__article {
				.container {
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 90px;
				}
				.post__title {
					margin-top: 40px;
				}
				.post__snippet {
					margin-top: 10px;
				}
				.post__createtime {
					margin-top: 10px;
				}
			}
			.post__suggestion {
				.container {
					padding: 0 15px;
				}
				.suggestion__wrapper {
					column-gap: 15px;
					.cell {
						.image-container {
							img {
								max-width: 100%;
								max-height: 100%;
							}
						}
						.cell__content {
							padding: 0;
							padding-left: 10px;
						}
					}
				}
			}
		}
		@include mobile {
			.post__article {
				.image-container {
					height: calc((100vw - 20px) / 16 * 9);
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
			.post__suggestion {
				.container {
					padding: 0 10px;
				}
				.suggestion__wrapper {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}
