.product {
	.product__detail {
		width: 100%;
		height: 740px;
		overflow: hidden;
		position: relative;
		border-top: solid 1px;
		border-bottom: solid 1px;
		border-color: rgba($color: $main-grey-color, $alpha: 0.5);
		.container {
			max-width: 1170px;
			padding: 0;
			height: 100%;
			display: flex;
		}
		.product__image {
			width: calc(75% - 30px);
			flex-shrink: 0;
			height: 100%;
			padding: 50px 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			border-right: 1px solid;
			border-color: rgba($color: $main-grey-color, $alpha: 0.5);
			.image__viewer {
				width: calc(100% / 9 * 8);
				height: 540px;
				position: relative;
				.image__wrapper {
					width: 100%;
					height: 100%;
					border-bottom: solid 1px;
					border-color: rgba($color: $main-grey-color, $alpha: 0.5);
					.image__item {
						height: 100%;
						width: 100%;
						z-index: $default-z;
						opacity: 0;
						transition: opacity $time;
						&.is-selected {
							z-index: $default-z + 1;
							opacity: 1;
						}
						> img {
							@include mid;
							max-height: 100%;
							max-width: 100%;
							object-fit: cover;
						}
					}
					// FLICKITY-FULLSCREEN
					.flickity-page-dots {
						display: none;
					}
					&.is-fullscreen {
						background-color: rgba($color: #000000, $alpha: 1);
						border: none;
						.image__item {
							> img {
								min-width: auto;
								min-height: auto;
							}
						}
						.flickity-page-dots {
							display: block;
						}
						.close-fullscreen {
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							width: 30px;
							height: 30px;
							background-color: rgba($color: $main-grey-color, $alpha: 0.8);
							border-radius: 5px;
							top: 10px;
							right: 10px;
							z-index: 501; // 500 +1
							transition: $time;
							i svg {
								width: 20px;
							}
							&:hover {
								background-color: $white;
							}
						}
					}
				}
				.zoom-btn {
					padding: 0 10px;
					position: absolute;
					bottom: -30px;
					right: 0;
					background-color: $main-blue-color;
					span {
						padding: 0 20px;
						@include fontFormat(
							$fz-text,
							$main-font,
							30px,
							$white,
							$upper-c,
							0.02em,
							bold
						);
					}
					i {
						position: relative;
						padding-right: 14px;
						svg {
							@include mid;
							width: 14px;
						}
					}
				}
				.close-fullscreen {
					display: none;
				}
			}
			.control {
				flex-grow: 1;
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				> :first-child {
					margin-right: 20px;
				}
			}
		}
		.product__content {
			flex-grow: 1;
			height: 100%;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.product__name {
				$local-line-height: 40px;
				height: 3 * $local-line-height;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				@include fontFormat(
					32px,
					$custom-font,
					$local-line-height,
					$text-color,
					none,
					0,
					normal
				);
			}
			.product__price {
				display: grid;
				grid-template-columns: 45% 1fr 1fr;
				> * {
					@include fontFormat(
						$fz-text,
						$main-font,
						54px,
						$overlay-brown-color,
						$upper-c,
						0.1em,
						bold
					);
				}
			}
			.product__info {
				li.attribute {
					width: 100%;
					display: grid;
					grid-template-columns: 45% 55%;
					> * {
						width: 100%;
						@include fontFormat(
							14px,
							$main-font,
							54px,
							$text-color,
							none,
							0.1em,
							normal
						);
					}
					.attribute__label {
					}
				}
			}
			.short-description {
				h4,
				p {
					@include fontFormat(11px, $main-font, 20px, $text-color, none, 0.1em);
				}
				h4 {
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 20px;
				}
				p {
					width: 90%;
				}
			}
		}
	}
	.product__suggestion {
		.container {
			border-bottom: solid 1px;
			border-color: rgba($color: $main-grey-color, $alpha: 0.5);
		}
		.section__title {
			text-align: center;
			margin-top: 90px;
			margin-bottom: 40px;
			@include fontFormat(
				18px,
				$custom-font,
				40px,
				$text-color,
				$upper-c,
				0,
				normal
			);
		}
		.suggestion__wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 540px;
			column-gap: 30px;
			width: 100%;
			//overflow: hidden;
			margin-bottom: 50px;
			.suggestion__item {
				position: relative;
				.image-container {
					> img {
						filter: grayscale(1);
					}
				}
				.cell__content {
					flex-grow: 1;
					justify-content: space-evenly;
					padding: 0 10px;
				}
				.cell__description {
					display: flex;
					> * {
						padding-left: 5px;
						@include fontFormat(
							$fz-text,
							$main-font,
							40px,
							$text-color,
							$upper-c,
							0.1em,
							normal
						);
					}
					.price__lable {
						padding-left: 0;
					}
				}
				.cell__btn {
					width: 100%;
					&:hover {
						&:hover {
							span {
								color: $white;
								font-weight: bolder;
							}
						}
					}
				}
				&::after {
					position: absolute;
					content: "";
					width: 1px;
					height: 85%;
					background-color: $main-grey-color;
					top: 0;
					right: -15px;
					opacity: 0.5;
				}
				&:hover {
					box-shadow: 10px 15px 33px 9px #555;
					transition: background-color $time;
					background-color: #6d5019;
					.image-container {
						> img {
							transition: filter $time;
							filter: grayscale(0);
						}
					}
					.cell__title,
					.cell__description > *,
					.cell__btn > span {
						transition: color $time;
						color: $white;
					}
					.cell__btn .arrow-icon > * {
						fill: $white;
					}
				}
			}
		}
	}
	.contact-us {
		height: 385px;
		.container {
			height: 100%;
		}
		.contact__content {
			height: 100%;
			@include midflexcol;
			.contact__text {
				width: 100%;
				@include midflexcol;
				.title {
					@include fontFormat(
						14px,
						$main-font,
						40px,
						$text-color,
						$upper-c,
						0,
						normal
					);
				}
				.des {
					width: 50%;
					text-align: center;
					@include fontFormat(
						$fz-text,
						$main-font,
						20px,
						$text-color,
						none,
						0,
						normal
					);
				}
			}
			.contact__action {
				margin-top: 60px;
				display: flex;
			}
		}
	}
	@media only screen and (max-width: 1365px) {
	}
	@include tablet {
		.product__detail {
			.container {
				max-width: 720px;
			}
			.product__image {
				width: 50%;
				.image__viewer {
					width: 100%;
					.image__wrapper {
						.image__item {
							> img {
								min-width: 100%;
								min-height: 100%;
							}
						}
					}
				}
			}
			height: calc(90vh - 120px); // 100vh - header-static
		}
		.product__suggestion {
			.section__title {
				margin-top: 45px;
				font-size: 22px;
			}
			.suggestion__wrapper {
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: 450px;
				grid-template-rows: 450px;
				.suggestion__item {
					&:last-child {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
	@include mobile {
		.product__detail {
			height: auto;
			padding-bottom: 30px;
			.container {
				max-width: 540px;
				flex-direction: column;
			}
			.product__image {
				padding: 15px;
				width: 100%;
				border: none;
				.image__viewer {
					height: 500px;
				}
				.control {
					margin-top: 50px;
					padding: 0 15px;
					flex-grow: 0;
					justify-content: space-between;
					.btn__control {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.product__suggestion {
			.suggestion__wrapper {
				grid-template-columns: 1fr;
				row-gap: 30px;
				.suggestion__item {
					&::after {
						display: none;
					}
				}
			}
		}
		.contact-us {
			margin: 50px 0;
			height: auto;
			.contact__content {
				.contact__text {
					.title {
						font-size: 20px;
						font-weight: bold;
					}
					.des {
						width: 100%;
					}
				}
				.contact__action {
					flex-direction: column;
					align-items: center;
					width: 100%;
					.contact__btn {
						width: 80%;
						margin: 15px 0;
					}
				}
			}
		}
	}
}

.pdt {
	> header.static-header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mobile {
			// height: 60px;
			// .logo-container {
			// 	top: 50%;
			// 	a #logo {
			// 		width: 60px;
			// 	}
			// }
			// .social {
			// 	display: none;
			// }
			// .back-btn {
			// 	display: none;
			// }
			display: none;
		}
	}
}
