.project {
	.project__banner {
		overflow: visible;
		.container {
			padding: 0 30px;
			.banner__content {
			}
			.banner__text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
			.banner__title {
				@include fontFormat(
					26px,
					$custom-font,
					50.45px,
					$text-color,
					$upper-c,
					0.1em,
					normal
				);
			}
			.banner__des {
				width: 460px;
				line-height: 26px;
				letter-spacing: 0.1em;
			}
			.btn__dropdown {
				background-color: $light-black;
				padding: 8px 20px;
				display: flex;
				position: relative;
				border: solid 1px $main-grey-color;
				span {
					padding: 0 20px;
					@include fontFormat(
						11px,
						$main-font,
						20px,
						$white,
						$upper-c,
						0,
						bold
					);
				}
				i {
					padding-left: 25px;
					padding-top: 2px;
					position: relative;
					svg {
						@include mid;
						width: 11px;
					}
				}
				.project__types {
					position: absolute;
					width: 100%;
					top: 36px;
					left: 0;
					z-index: $default-z + 2;
					.project__type {
						display: none;
						opacity: 0;
						background-color: #705b32;
						padding-left: 40px;
						transform-origin: top center;
						border-bottom: solid 1px $main-grey-color;
						z-index: $default-z + 2;
						a {
							@include fontFormat(
								11px,
								$main-font,
								50px,
								$white,
								$upper-c,
								0,
								bold
							);
						}
					}
				}
				&:hover .project__type {
					display: block;
					@include animation(
						0,
						300ms,
						$animation-menu-slide-down,
						normal,
						forwards
					);
					animation-timing-function: ease-in-out;
				}
			}
		}
	}
	.project__list {
		.container {
			padding: 0 30px;
		}
		.project__wrapper {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: 410px;
			column-gap: 30px;
			row-gap: 40px;
			.cell {
				.image-container {
					height: 205px;
				}
				.cell__content {
					flex-grow: 1;
					padding-top: 10px;
					padding-bottom: 20px;
					justify-content: space-evenly;
					.cell__title {
						@include fontFormat(
							$fz-text,
							$main-font,
							20px,
							$text-color,
							$upper-c,
							-0.025em,
							bold
						);
					}
					.cell__description {
						width: 295px;
						@include fontFormat(
							$fz-text,
							$main-font,
							20px,
							$text-color,
							initial,
							-0.025em,
							normal
						);
					}
					.cell__btn {
						font-size: 11px;
					}
				}
			}
		}
	}
}
