body.service {
	main.services {
		.service__banner {
			height: auto;
			padding-top: 90px;
			padding-bottom: 35px;
			.title {
				text-align: center;
				@include fontFormat(
					32px,
					$custom-font,
					50.45px,
					$text-color,
					$upper-c,
					0.1em
				);
			}
		}
		.title {
			@include fontFormat(
				26px,
				$custom-font,
				50.45px,
				$text-color,
				$upper-c,
				0.1em
			);
		}
		.des {
			@include fontFormat($fz-text, $main-font, 26px, #090909, none, 0.1em);
		}
		.service__advisory {
			margin-bottom: 60px;
			.container {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					width: calc(100% - 30px);
					height: 1px;
					background-color: $text-color;
					bottom: -60px;
					left: 15px;
				}
			}
			.image-container {
				width: 100%;
				height: 515px;
				overflow: hidden;
				position: relative;
				margin-bottom: 45px;
				img {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
				}
			}
			.content {
				padding: 0 30px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 265px;
				> * {
					width: 50%;
				}
				.text {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.des:nth-child(2) {
						width: 90%;
					}
					.des:nth-child(3) {
						width: 50%;
					}
				}
				.contact {
					@include midflex;
					.contact__action {
						display: flex;
						.btn__primary {
							padding: 7px 0;
							width: 200px;
						}
					}
				}
			}
		}
		.service__contruction {
			padding-top: 80px;
			.image-container {
				width: 100%;
				height: 515px;
				overflow: hidden;
				position: relative;
				margin-bottom: 75px;
				img {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
				}
			}
			.content {
				margin-bottom: 50px;
				.text {
					@include midflexcol;
					.des {
						text-align: center;
						width: 60%;
					}
				}
			}
		}
		@include tablet {
			.service__advisory {
				.content {
					flex-direction: column;
					.text {
						width: 100%;
						padding-bottom: 50px;
						.des:nth-child(3) {
							width: 90%;
						}
					}
					.contact {
						width: 100%;
					}
				}
			}
			.service__contruction {
				.content {
					.text {
						.des {
							width: 90%;
						}
					}
				}
			}
		}
		@include mobile {
			.service__banner {
				.title {
					font-size: 24px;
				}
			}
			.service__advisory {
				margin: 0;
				.image-container {
					height: 450px;
					img {
						transform: translateX(-60%);
					}
				}
				.container {
					margin-bottom: 200px;
					&::after {
						bottom: -150px;
					}
				}
				.content {
					padding: 0;
					.text {
						.des:nth-child(2) {
							width: 100%;
						}
						.des:nth-child(3) {
							width: 100%;
						}
					}
					.contact {
						.contact__action {
							flex-direction: column;
							.contact__btn {
								margin: 10px 0;
							}
						}
					}
				}
			}
			.service__contruction {
				.image-container {
					height: 400px;
				}
			}
		}
	}
}
