$nav-width: 505px;
nav {
	position: fixed;
	top: 0;
	left: -$nav-width;
	width: $nav-width;
	height: 100vh;
	background-color: #1f2121;
	z-index: $nav-z;
	transition: $time;
	border-left: solid 1px #1f2121;
	.social {
		width: 100%;
		.social__list {
			padding-right: 35px;
			.social__item {
				display: flex;
				align-items: center;
				a {
					margin-left: 30px;
					position: relative;
					i {
						@include mid;
					}
					.facebook-icon {
						width: 12px;
					}
					.email-icon {
						width: 22px;
					}
				}
				span {
					color: $white;
				}
			}
		}
	}
	.nav__menu {
		position: absolute;
		top: 15%;
		left: 0;
		width: 100%;
		height: 85%;
		display: flex;
		.nav__close {
			width: 135px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.logo-container {
				height: 50px; // LINEHEIGHT + PADDINGTOP 1st ITEM
				position: relative;
				&::after {
					position: absolute;
					content: "";
					width: 150%;
					height: 2px;
					bottom: -10px;
					left: -25%;
					background-color: $white;
				}
			}
			.close-container {
				margin-top: 20px; // PADDINGTOP 1st ITEM
				.close-btn {
					height: 45px;
					width: 45px;
					position: relative;
					transform: rotate(45deg);
					&::before,
					&::after {
						@include mid;
						content: "";
						background-color: $main-grey-color;
						transition: $time;
					}
					&::before {
						width: 100%;
						height: 1px;
					}
					&::after {
						width: 1px;
						height: 100%;
					}
					&:hover {
						&::before,
						&::after {
							background-color: $white;
							transition: $time;
						}
						&::before {
							width: 80%;
						}
						&::after {
							height: 80%;
						}
					}
				}
			}
		}
		.nav__list {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-right: 30px;
			.nav__item {
				padding-left: 35px;
				padding-top: 40px;
				padding-right: 35px;
				width: 100%;
				position: relative;
				&::after {
					//display: none;
					position: absolute;
					content: "";
					width: 0;
					height: 2px;
					bottom: -10px;
					left: -10px;
					background-color: $white;
					transition: $time * 2;
				}
				&:first-child {
					padding-top: 20px;
				}
				&:not(:last-child) {
					@include fillTextWithColor($main-grey-color, $white, $time * 3);
				}
				&:last-child {
					&::after {
						display: none;
					}
					display: flex;
				}
				&:hover {
					&::after {
						width: 100%;
						left: 0;
						transition: $time * 2;
					}
				}
				> a {
					span {
						@include fontFormat(
							26px,
							$custom-font,
							30px,
							$main-grey-color,
							$upper-c,
							-0.025em
						);
					}
				}
				.sub-item {
					a {
						padding: 0 10px;
						position: relative;
						span {
							@include fontFormat(
								14px,
								$semi-bold-font,
								30px,
								$main-grey-color,
								$upper-c,
								-0.025em
							);
						}
						&::after {
							position: absolute;
							content: "";
							height: 100%;
							width: 2px;
							top: 0;
							right: 0;
							background-color: $white;
						}
					}
					&:first-child {
						a {
							padding-left: 0;
						}
					}
					&:last-child {
						a {
							padding-right: 0;
							&::after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	&.--active {
		left: 0;
		transition: $time;
	}
}
//  SPEACIAL HOVER ANIMATION

#overlay {
	position: fixed;
	z-index: $header-z - 1;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.7);
	opacity: 0;
	transition: opacity $time;
	&.--active {
		left: 0;
		opacity: 1;
		transition: opacity $time;
	}
}
